<div *ngIf="hero" [ngStyle]="{'background-color': hero.colour}" [class.border]="showBorder">
  <h2 class="details">Details</h2>
  <div class="name">Name: {{hero.name | uppercase}}</div>
  <div class="id">id: {{hero.id}}</div>
  <div class="colour">Colour: {{hero.colour}}</div>

  <div>
    <label class="hero" for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name place">
    <h2>Powers:</h2>
    <ul>
    <li *ngFor="let power of hero.powers">
      {{power}}
    </li>
    </ul>

  </div>
</div>
