.border {
  border: 2px solid rebeccapurple;
}

.power{
  color: white;
}

.colour{
  color: red;
}

.id
{
  color: black;
}

.name
{
  color: blue;
}

.details
{
  color: rgb(142, 225, 191);
}

.hero
{
  color: rgb(225, 142, 211);
}